Q1. Find the average age of developers when they wrote their first line of code.

In [1]:
import pandas as pd

df = pd.read_csv("survey_results_public.csv")
res = pd.to_numeric(df['Age1stCode'], errors='coerce').mean()
print(res)

15.456446353114092

Q2. Deduce the percentage of developers who knew python in each country.

In [2]:
import sqlite3
import pandas as pd

dd = pd.read_csv("survey_results_public.csv")
dd.columns = dd.columns.str.strip()

conn = sqlite3.connect('test.db') 
dd.to_sql('survey_table', conn ,if_exists='replace')
conn.close()

In [3]:
conn = sqlite3.connect('test.db') 
c = conn.cursor()
ce = conn.cursor()
countries = c.execute('''
          SELECT Country, count(*) from survey_table group by Country
          ''')

pyth = ce.execute("""
                 SELECT Country, count(*) from survey_table WHERE LanguageWorkedWith LIKE '%Python%'
 group by Country
                 """)

dic = {}

for j in pyth:
    dic[j[0]] = [j[1]]

for i in countries:
    if i[0] in dic.keys():
        dic[i[0]].append(i[1])

for key,value in dic.items():
    per = ((value[0]*100)/value[1])
    print(key,per)

Afghanistan 18.181818181818183
Albania 26.74418604651163
Algeria 29.850746268656717
Angola 40.0
Argentina 34.53887884267631
Armenia 32.55813953488372
Australia 41.51339989490278
Austria 40.28605482717521
Azerbaijan 34.69387755102041
Bahamas 66.66666666666667
Bahrain 22.22222222222222
Bangladesh 33.71900826446281
Barbados 33.333333333333336
Belarus 34.15841584158416
Belgium 40.715268225584595
Belize 33.333333333333336
Benin 60.0
Bhutan 50.0
Bolivia 30.555555555555557
Bosnia and Herzegovina 26.85185185185185
Botswana 20.0
Brazil 39.37371663244353
Bulgaria 27.465857359635812
Burundi 33.333333333333336
Cambodia 30.0
Cameroon 31.372549019607842
Canada 45.89101620029455
Chile 49.51456310679612
China 44.7289156626506
Colombia 34.50479233226837
Congo, Republic of the... 57.142857142857146
Costa Rica 35.714285714285715
Croatia 33.46153846153846
Cuba 53.333333333333336
Cyprus 31.25
Czech Republic 37.303664921465966
CÃ´te d'Ivoire 32.35294117647059
Democratic People's Republic of Korea 33.333333333333336
Democratic Republic of the Congo 42.857142857142854
Denmark 39.87034035656402
Dominica 100.0
Dominican Republic 21.649484536082475
Ecuador 47.5609756097561
Egypt 34.36532507739938
El Salvador 28.35820895522388
Estonia 42.05128205128205
Ethiopia 38.46153846153846
Fiji 20.0
Finland 48.717948717948715
France 44.08197406942702
Georgia 32.5
Germany 41.783157176951924
Ghana 38.095238095238095
Greece 40.64748201438849
Guatemala 37.3134328358209
Guinea 66.66666666666667
Guyana 66.66666666666667
Haiti 60.0
Honduras 44.44444444444444
Hong Kong (S.A.R.) 46.808510638297875
Hungary 37.23196881091618
Iceland 61.224489795918366
India 34.267740867453924
Indonesia 29.191321499013807
Iran 36.31436314363144
Iraq 43.58974358974359
Ireland 41.71656686626746
Israel 48.00420168067227
Italy 39.65736040609137
Jamaica 28.571428571428573
Japan 46.547314578005114
Jordan 33.84615384615385
Kazakhstan 23.4375
Kenya 48.19277108433735
Kuwait 30.0
Kyrgyzstan 31.57894736842105
Latvia 28.676470588235293
Lebanon 35.0
Lesotho 33.333333333333336
Libyan Arab Jamahiriya 20.0
Liechtenstein 33.333333333333336
Lithuania 31.85483870967742
Luxembourg 40.98360655737705
Madagascar 26.666666666666668
Malaysia 31.77257525083612
Maldives 46.15384615384615
Mali 33.333333333333336
Malta 30.76923076923077
Mauritania 71.42857142857143
Mauritius 30.76923076923077
Mexico 38.161993769470406
Monaco 50.0
Mongolia 47.05882352941177
Montenegro 47.05882352941177
Morocco 32.25806451612903
Mozambique 14.285714285714286
Myanmar 17.307692307692307
Namibia 60.0
Nepal 42.61603375527426
Netherlands 41.414686825054
New Zealand 45.038167938931295
Nicaragua 33.333333333333336
Niger 100.0
Nigeria 29.118773946360154
Norway 40.41811846689895
Oman 54.54545454545455
Other Country (Not Listed Above) 27.205882352941178
Pakistan 27.193932827735644
Panama 39.39393939393939
Paraguay 36.53846153846154
Peru 36.15384615384615
Philippines 30.708661417322833
Poland 39.0738813735692
Portugal 34.666666666666664
Qatar 38.46153846153846
Republic of Korea 51.282051282051285
Republic of Moldova 16.27906976744186
Romania 33.28947368421053
Russian Federation 41.79456906729634
Rwanda 41.666666666666664
San Marino 50.0
Sao Tome and Principe 100.0
Saudi Arabia 33.673469387755105
Senegal 38.095238095238095
Serbia 29.104477611940297
Seychelles 50.0
Sierra Leone 50.0
Singapore 45.87458745874587
Slovakia 38.84615384615385
Slovenia 39.93288590604027
Somalia 23.076923076923077
South Africa 32.21690590111643
South Korea 50.0
Spain 39.96259351620947
Sri Lanka 36.82795698924731
Sudan 38.095238095238095
Swaziland 25.0
Sweden 38.93249607535322
Switzerland 47.034764826175866
Syrian Arab Republic 24.137931034482758
Taiwan 47.05882352941177
Thailand 42.99065420560748
The former Yugoslav Republic of Macedonia 14.814814814814815
Timor-Leste 100.0
Togo 25.0
Trinidad and Tobago 26.31578947368421
Tunisia 30.76923076923077
Turkey 39.09378292939937
Turkmenistan 85.71428571428571
Uganda 65.27777777777777
Ukraine 28.341013824884794
United Arab Emirates 31.0126582278481
United Kingdom 41.55481959212132
United Republic of Tanzania 46.875
United States 48.13117571244451
Uruguay 32.432432432432435
Uzbekistan 35.8974358974359
Venezuela, Bolivarian Republic of... 31.818181818181817
Viet Nam 33.76623376623377
Yemen 15.789473684210526
Zambia 33.333333333333336
Zimbabwe 35.8974358974359

Q3. Generate the report for the average salary of developers based on the
continent

In [4]:
import pandas as pd

csv1 = pd.read_csv("Countries-Continents.csv")
csv1.head()

  Continent   Country
0    Africa   Algeria
1    Africa    Angola
2    Africa     Benin
3    Africa  Botswana
4    Africa   Burkina

In [5]:
csv2 = pd.read_csv("survey_results_public.csv")
csv2.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelorâs degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelorâs degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelorâs degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

In [6]:
merged_data = csv2.merge(csv1,on=["Country"])
col = merged_data.groupby(['Continent']).mean()
col['ConvertedComp']

C:\Users\patel\AppData\Local\Temp\ipykernel_148540\606683728.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  col = merged_data.groupby(['Continent']).mean()

Continent
Africa            35137.753695
Asia              35611.681551
Europe           101262.760153
North America    107565.099373
Oceania          166950.955791
South America     33010.825072
Name: ConvertedComp, dtype: float64

Q4. Based on this survey, what will be the most desired programming language for the year
2020?

In [7]:
import pandas as pd

df = pd.read_csv("survey_results_public.csv")

lang = df['LanguageDesireNextYear']
dic = {}
for i in lang:
    try :
        lst = i.split(';')
    except AttributeError as e:   # handling entries of LanguageDesireNextYear = nan
        continue
    for j in lst:
        if j not in dic:
            dic[j] = 1
        else:
            dic[j]+=1

print(max(dic,key=dic.get))

JavaScript

Q5. Generate the report for the people who code as a hobby based on their gender
and continent?

In [8]:
import pandas as pd

df = pd.read_csv("survey_results_public.csv")

grp = df[['Hobbyist','Country','Gender']]
grp = grp[grp['Hobbyist']=='Yes']

merged_data = grp.merge(csv1,on=["Country"])

merged_data['Gender'].mask(merged_data["Gender"].str.contains(";", case=False, na=False) == True,  "OTHERS", inplace=True)
merged_data['Gender'].mask(merged_data["Gender"].str.contains(",", case=False, na=False) == 1,  "OTHERS", inplace=True)

res = merged_data.groupby(['Gender','Continent']).size()
res

Gender  Continent
Man     Africa            1865
        Asia             13106
        Europe           25098
        North America     3180
        Oceania           1800
        South America     2426
OTHERS  Africa              26
        Asia               171
        Europe             291
        North America       52
        Oceania             39
        South America       24
Woman   Africa             123
        Asia               776
        Europe            1328
        North America      222
        Oceania            100
        South America      107
dtype: int64

Q6. Generate the report for job and career satisfaction of developers based on their
gender and continent?

In [9]:
import pandas as pd

df = pd.read_csv("survey_results_public.csv")

# satisfied_dev = res_public.copy(deep=True)
rep = df.merge(csv1, how ="left", on=["Country"])

# Replacing a new Category 'OTHERS' for ambiguous values
rep['Gender'].mask(rep["Gender"].str.contains(";", case=False, na=False) == True,  "OTHERS", inplace=True)
rep['Gender'].mask(rep["Gender"].str.contains(",", case=False, na=False) == 1,  "OTHERS", inplace=True)

# Creating a new column for each satisfaction level
rep["Job Very satisfied"] = rep['JobSat'] == "Very satisfied"
rep["Job Slightly satisfied"] = rep['JobSat'] == "Slightly satisfied"
rep["Job Slightly dissatisfied"] = rep['JobSat'] == "Slightly dissatisfied"
rep["Job Neither satisfied nor dissatisfied"] = rep['JobSat'] == "Neither satisfied nor dissatisfied"
rep["Job Very dissatisfied"] = rep['JobSat'] == "Very dissatisfied"

# Storing all data grouped by "Gender" & "Continent" in a new variable 
status_info = rep.groupby(["Gender", "Continent"]).sum()

status_info

C:\Users\patel\AppData\Local\Temp\ipykernel_148540\4157762954.py:20: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  status_info = rep.groupby(["Gender", "Continent"]).sum()

                      Respondent     CompTotal  ConvertedComp  WorkWeekHrs  \
Gender Continent
Man    Africa          102879364  6.220129e+09   3.802437e+07   52988.2500
       Asia            738838595  7.442396e+10   2.979655e+08  458573.7300
       Europe         1340834573  1.671806e+09   2.095773e+09  994764.0145
       North America   176047278  3.013116e+08   2.927561e+08  121835.1000
       Oceania          94489090  1.470288e+08   2.465021e+08   67838.0000
       South America   142069552  2.532727e+09   7.739594e+07  100320.5000
OTHERS Africa            1351334  2.977580e+06   1.087251e+06     569.0000
       Asia              9162150  8.173671e+10   3.844531e+06    3792.0000
       Europe           16110074  1.104353e+07   1.600419e+07    9926.5000
       North America     2592555  2.728270e+06   5.906174e+06    1657.5000
       Oceania           1636702  2.933153e+06   5.517015e+06     955.9000
       South America     1546806  4.012930e+06   3.723190e+05     685.0000
Woman  Africa            8755702  8.694580e+14   3.444809e+06    4021.5000
       Asia             52551907  6.675452e+08   1.304107e+07   31928.2500
       Europe           90689334  9.607931e+07   1.072996e+08   61203.2200
       North America    17027162  2.547890e+07   1.999951e+07    9853.7500
       Oceania           6120620  7.764669e+06   1.100328e+07    4064.6000
       South America     7912176  1.632323e+08   2.439617e+06    4908.0000

                      CodeRevHrs       Age  Job Very satisfied  \
Gender Continent
Man    Africa            7425.35   56143.3                 339
       Asia             60579.37  395719.0                2718
       Europe           76567.40  872057.9                7839
       North America    12176.09  114204.0                1092
       Oceania           5810.20   64513.1                 641
       South America    10421.20   89845.0                 663
OTHERS Africa             271.00     569.0                   2
       Asia               799.50    3581.0                  24
       Europe             692.00    8643.8                  89
       North America      196.00    1576.0                  16
       Oceania             80.00     931.0                   8
       South America      183.00     690.0                   0
Woman  Africa             550.00    4380.0                  29
       Asia              3479.50   23813.0                 191
       Europe            4225.15   55840.0                 547
       North America     1041.50    9648.0                 117
       Oceania            342.00    4049.0                  43
       South America      444.00    4823.0                  43

                      Job Slightly satisfied  Job Slightly dissatisfied  \
Gender Continent
Man    Africa                            515                        253
       Asia                             4404                       2330
       Europe                           8880                       3688
       North America                    1087                        429
       Oceania                           631                        242
       South America                     889                        516
OTHERS Africa                              5                          2
       Asia                               47                         15
       Europe                             72                         42
       North America                      16                          4
       Oceania                             7                          6
       South America                       9                          5
Woman  Africa                             29                         19
       Asia                              274                        135
       Europe                            539                        251
       North America                      97                         29
       Oceania                            46                         13
       South America                      50                         21

                      Job Neither satisfied nor dissatisfied  \
Gender Continent
Man    Africa                                            225
       Asia                                             2211
       Europe                                           2875
       North America                                     373
       Oceania                                           192
       South America                                     361
OTHERS Africa                                              2
       Asia                                               28
       Europe                                             24
       North America                                       4
       Oceania                                             4
       South America                                       2
Woman  Africa                                             16
       Asia                                              142
       Europe                                            166
       North America                                      23
       Oceania                                             9
       South America                                      20

                      Job Very dissatisfied
Gender Continent
Man    Africa                           133
       Asia                             973
       Europe                          1621
       North America                    217
       Oceania                          118
       South America                    228
OTHERS Africa                             4
       Asia                              16
       Europe                            24
       North America                      6
       Oceania                            2
       South America                      3
Woman  Africa                            20
       Asia                              68
       Europe                           100
       North America                     17
       Oceania                            8
       South America                     11